@import './../../global-style.scss';
.main {
    flex: 1;
    min-height: min-content;
    max-width: $main-max-width;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    width: 100%;
}
