@import './../../global-style.scss';
.card {
    height: 100%;
    width: 100%;
    padding: 40px 10px 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px $main-light-shadow-color;
    position: relative;
    &:hover {
        box-shadow: 1px 5px 10px 0px $main-dark-shadow-color;
    }
    &__discount {
        position: absolute;
        margin: 5px;
        background-color: $main-red-color;
        border-radius: 15px;
        color: $main-white-color;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        padding: 5px 10px;
    }
    &__link {
        display: grid;
        grid-template-rows: 310px repeat(3, 25px) 50px;
        color: $main-black-color;
        text-decoration: none;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__old-price {
        text-decoration-line: line-through;
    }
    &__price {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }
    &__wight {
        color: $main-gray-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
    &___name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        vertical-align: center;
    }
    &__like {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}
