@import './../../global-style.scss';
.header {
    background-color: $main-yellow-color;
    display: flex;
    justify-content: center;
    width: 100%;
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 16px 30px;
        align-items: center;
        max-width: $main-max-width;
        width: 100%;
        gap: 30px;
    }
    &__icon-link {
        position: relative;
        text-decoration: none;
        color: $main-black-color;
        cursor: pointer;
    }
    &__icons {
        display: flex;
        gap: 35px;
    }
}

@media (max-width: 850px) {
    .header {
        &__container {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}