.footer {
    background-color: #FFE44D;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.footer__nav-list a {
    text-decoration: none;
    color: #1A1A1A;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts a {
    text-decoration: none;
    color: #1A1A1A;
}

.footer__contacts h2,
h3 {
    margin: 0;
}

.footer__contacts-social {
    display: flex;
    gap: 12px;
}