$main-yellow-color: #ffe44d;
$main-red-color: #f44336;
$main-black-color: #1a1a1a;
$main-gray-color: #7b8e98;
$main-white-color: #ffffff;
$main-green-bg-color: #01a54e;
$main-light-shadow-color: #b0b0b0;
$main-dark-shadow-color: #4d4c4c;

.red {
    color: $main-red-color;
}

.black {
    color: $main-black-color;
}
